# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://userdb:passworddb@localhost:5432/onboarding_creditos

# JWT
JWT_SECRET=tu_clave_super_secreta_cambiala_en_produccion
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173
# BACKEND
BACKEND_URL=localhost:3000

# Correo (se usa password de app google obligatorio)
SMTP_USER=email@gmail.com
SMTP_PASS=pass_app_google
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
