# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://userdb:passworddb@localhost:5433/onboarding_creditos

# JWT
JWT_SECRET=tu_clave_super_secreta_cambiala_en_produccion
JWT_EXPIRES_IN=1h

# CORS
FRONTEND_URL=http://localhost:5173
# BACKEND
BACKEND_URL=localhost:3000

# Correo (se usa password de app google obligatorio)
# SMTP_USER=email@gmail.com
# SMTP_PASS=pass_app_google
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587

SMTP_USER=ejemplo123@smtp-brevo.com
SMTP_PASS=tu password de SMTP de brevo
SMTP_SENDER=tu email (o sender) verificado en brevo

BREVO_API_KEY=la api key de brevo
