:root {
    --sidebar-bg-color: #3d1d5c;
    --sidebar-icon-color: #a46de8;
    --sidebar-text-color: #ffffff;
    --sidebar-highlight-color: #19AA91;
  }

  .sidebar {
    width: 260px;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding: 20px 0;
    top: 0;
    
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 12px 25px; 
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    transition: none;
  }

  .sidebar-link.active {
    font-weight: 700;
  }

  .sidebar-icon {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    stroke: var(--sidebar-icon-color);
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.3s ease;
  }

  .sidebar-link:hover .sidebar-icon {
    stroke: var(--sidebar-highlight-color);
  }

  .sidebar-footer {
    padding-top: 20px; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }