
.main-header {
  background-color: #ffffff;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.logo-image {
  height: 30px; 
  margin-top: 8px;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #333333;
}

.nav-actions-container {
  display: flex;
  align-items: center;
  gap: 15px;
}


.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-nav ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.main-nav ul li a:hover {
  color: #8331BD;
}


.actions-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action-icon {
  color: #333333;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.action-icon:hover {
  color: #8331BD;
}


.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary { background-color: #19AA91; }
.btn-primary:hover { background-color: #148c78; }
.btn-secondary { background-color: #8331BD; }
.btn-secondary:hover { background-color: #6a289c; }



/* --- Estilos para Móviles (Responsive) --- */


@media (max-width: 1024px) {
  .main-header {
    padding: 15px 25px;
  }
  
  .logo-image {
    height: 35px; 
  }

 
  .menu-icon {
    display: block;
  }

 
  .nav-actions-container {
    display: none; 
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 25px;
  }
  
 
  .nav-actions-container.active {
    display: flex;
  }


  .main-nav ul {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .main-nav ul li a {
    display: block;
    padding: 10px 0;
  }
  

  .actions-container {
    flex-direction: column;
    gap: 15px;
    width: 90%;
  }

  .actions-container .btn {
    width: 100%;
    text-align: center;
  }
  

  .actions-container .action-icon {
    display: none;
  }
}
